<ion-header>
    <ion-navbar primary>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>History</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>History of Grocery Foods</ion-list-header>
        <ion-item *ngFor="let food of foods | async">
            <ion-avatar item-left>
                <img src="http://loremflickr.com/128/128/{{ food.name }}">
            </ion-avatar>
            <h2>{{ food.name }}</h2>
            <h3 *ngIf="food.type == 'grocery'">Location: {{ food.location }}</h3>
            <p *ngIf="food.type == 'grocery'">This item was {{ food.status }}.</p>
            <ion-note item-right>
                <span *ngIf="(food.expiration | amDifference: today :'days') == 0">expires today</span>
                <span *ngIf="(food.expiration | amDifference: today :'days') > 0">{{ food.expiration | amDifference: today :'days' }} days left</span>
                <span *ngIf="(food.expiration | amDifference: today :'days') < 0">expired {{ today | amDifference: food.expiration :'days' }} days ago</span>
            </ion-note>
        </ion-item>
        <ion-list-header>Stats</ion-list-header>
        <ion-item>
            <ion-icon name="ios-nutrition" item-left></ion-icon>
            Portions Ate
            <ion-note item-right>{{ foods | pluckThenSum: "portions" }}</ion-note>
        </ion-item>
        <ion-item>
            <ion-icon name="cash" item-left></ion-icon>
            Spent on Food
            <ion-note item-right>${{ foods | pluckThenSum: "price" }}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>