<ion-header>
    <ion-navbar primary>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Budget</ion-title>
        <ion-buttons end (click)="setBudget()">
            <button>Edit
                <ion-icon name="logo-usd"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row center>
            <ion-col width-10>
                 <button ion-button block (click)="previousWeek()"><ion-icon name="arrow-back"></ion-icon></button>
            </ion-col>
            <ion-col width-80>
                <div style="text-align:center; font-weight: lighter; font-size: 24px">
                    Week of <br> {{getWeekLabel()}}
                </div>
                </ion-col>
            <ion-col width-10>
                <button ion-button block (click)="nextWeek()" [disabled]="week == 0"><ion-icon name="arrow-forward"></ion-icon></button>
            </ion-col>
        </ion-row>
        <ion-row center>
            <ion-col (click)="setBudget()" width-100 style="font-size:48px; text-align:center; font-weight:lighter;">${{budget - (foods | pluckThenSum: "price")}}</ion-col>
        </ion-row>
        <ion-row>
            
        </ion-row>
    </ion-grid>

    <ion-list>
        <ion-list-header>
            Food of Week
        </ion-list-header>
        <ion-item-sliding *ngFor="let food of foods | async">
            <ion-item *ngFor="let food of foods | async">
                <ion-avatar item-left>
                    <img src="http://loremflickr.com/128/128/{{ food.name }}">
                </ion-avatar>
                <h2>{{ food.name }}</h2>
                <ion-note item-right>${{ food.price }}</ion-note>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="secondary" (click)="editFoodItem(food)">
                    <ion-icon name="create"></ion-icon>
                    Edit
                </button>
                <button ion-button color="danger" (click)="deleteFood(food)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>




        <ion-list-header>Stats</ion-list-header>
        <ion-item>
            <ion-icon name="logo-usd" item-left></ion-icon>
            Budget
            <ion-note item-right>${{ budget }}</ion-note>
        </ion-item>
        <ion-item>
            <ion-icon name="cash" item-left></ion-icon>
            Spent on Food
            <ion-note item-right>${{ foods | pluckThenSum: "price" }}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>