<ion-header>
    <ion-navbar primary>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Home
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            My Food
        </ion-list-header>
        <ion-item (click)="presentActionSheet(food)" *ngFor="let food of foods | async">
            <ion-avatar item-left>
                <img src="http://loremflickr.com/128/128/{{ food.name }}">
            </ion-avatar>
            <h2>{{ food.name }}</h2>
            <h3>Location: {{ food.location }}</h3>
            <p>{{ food.portions }} more portions left</p>
            <ion-note item-right>
                <span *ngIf="(food.expiration | amDifference: today :'days') == 0" danger>expires today</span>
                <span *ngIf="(food.expiration | amDifference: today :'days') > 0">{{ food.expiration | amDifference: today :'days' }} days left</span>
                <span *ngIf="(food.expiration | amDifference: today :'days') < 0" danger>expired {{ today | amDifference: food.expiration :'days' }} days ago</span>
            </ion-note>
        </ion-item>
    </ion-list>

    <button fab fab-right fab-bottom primary fab-fixed (click)="addFoodItem()">
        <ion-icon name="add"></ion-icon>
    </button>
</ion-content>
