<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding="true">
<ion-list>
        <ion-item>
            <ion-label stacked>Username</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="creatingAccount === true">
            <ion-label stacked>Password Confirmation</ion-label>
            <ion-input type="password" [(ngModel)]="passwordConfirm"></ion-input>
        </ion-item>
    </ion-list>
    <div *ngIf="creatingAccount === false">
      <button ion-button (click)="login()" [disabled]="isLoginFormValid() == false" block>Sign In</button>    
      <button ion-button outline (click)="creatingAccount = true" block>Create a New Account</button>
    </div>
    <div *ngIf="creatingAccount === true">
      <button ion-button (click)="createAccount()" [disabled]="isCreateAccountFormValid() == false" block>Create Account</button>
      <button ion-button (click)="creatingAccount = false" outline block>Have an account? Sign in</button>
    </div>
</ion-content>